@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-maintext: #253d4e;
  --color-subtext: #8d8d8d;
  --color-primary: #158947;
  --color-secondary: #4ea674;
  --color-danger: #fb7181;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-maintext: var(--color-maintext);
  --color-subtext: var(--color-subtext);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-danger: var(--color-danger);
  --font-sans: var(--font-lato);
  --font-mono:
    "SF Mono", "SFMono-Regular", Consolas, "Liberation Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--color-maintext);
  font-family: var(--font-lato), sans-serif;
}
